
<div class="nav-items">
  <div class="nav-item">
    <fa-icon [icon]="faDashboard"></fa-icon>
    <span> Dsahboard </span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faBook"></fa-icon>
    <span>  Books </span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faUsers"></fa-icon>
    <span>  Members </span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]=" faBookOpenReader"></fa-icon>
    <span> Issuse Books </span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faBook"></fa-icon>
    <fa-icon [icon]="faRotateLeft"></fa-icon>
    <span> Return Books </span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faList"></fa-icon>
    <span> View Records </span>
  </div>
  <div class="nav-item">
    <fa-icon [icon]="faBookOpen"></fa-icon>
    <span> View Issuse Books </span>
  </div>
  <div class="nav-item logout">
    <fa-icon [icon]="faSignOutAlt"></fa-icon>
    <span> Logout </span>
  </div>
</div>
