<div class="nav-items">
  <div class="nav-item" routerLink="dashboard">
    <i class="bi bi-speedometer2 fs-3"></i>
    <span>Dashboard</span>
  </div>
  <div class="nav-item" routerLink="books">
    <i class="bi bi-book fs-3"></i>
    <span>Books</span>
  </div>
  <div class="nav-item" routerLink="add-members">
    <i class="bi bi-person-plus fs-3"></i>
    <span>Add Members</span>
  </div>
  <div class="nav-item" routerLink="manage-members">
    <i class="bi bi-people fs-3"></i>
    <span>Manage Members</span>
  </div>
  <div class="nav-item" routerLink="issue-books">
    <i class="bi bi-book-half fs-3"></i>
    <span>Issue Books</span>
  </div>
  <div class="nav-item" routerLink="view-issued-books">
    <i class="bi bi-journal fs-3"></i>
    <span>View Issued Books</span>
  </div>
  <div class="nav-item" routerLink="return-books">
    <i class="bi bi-bootstrap-reboot fs-3"></i>
    <span>Return Books</span>
  </div>
  <!-- <div class="nav-item" routerLink="view-records">
    <i class="bi bi-list-check fs-3"></i>
    <span>View Records</span>
  </div> -->

  <div class="nav-item logout" routerLink="logout">
    <i class="bi bi-box-arrow-right fs-3"></i>
    <span>Logout</span>
  </div>
</div>
