.nav-items {
  padding-top: 40px;


  .nav-item {
    padding: 25px 50px;
    cursor: pointer;
    display: flex;
    align-items: center;


    @media only screen and (max-width: 1024px) {
      padding: 20px 40px;
    }


    &:hover {
      background-color: rgb(1, 38, 69);
    }


    .fa-icon {
      margin-right: 15px;
      font-size: 22px;
    }

    span {
      display: inline;


      @media only screen and (max-width: 1024px) {
        display: none;
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .nav-item {
    padding: 15px 20px;
  }

  .fa-icon {
    font-size: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .nav-item {
    padding: 10px 15px;
  }

  .fa-icon {
    font-size: 18px;
  }
}


@media only screen and (max-width: 390px) {
  .nav-item {
    padding: 8px 10px;
  }


  .fa-icon {
    font-size: 16px;
  }
}
