.date-time {
  font-family: Arial, sans-serif;
  text-align: center;


  /* padding: 5px; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* margin: 10px 0; */
}

.date-time p {
  margin: 0;
  line-height: 1.2;
}
