
.top-section {
  width: 100%;
  padding: 20px;
overflow: hidden;
}


.middle-section {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow: hidden;


}

.widget-left, .widget-right {
  flex: 1;
  padding: 20px;


}

.widget-left app-member-details,
.widget-right app-book-details {
  width: 50%;
  height: 100%;
  min-height: 300px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 5px;
}


.bottom-section {
  width: 100%;
  padding: 20px;
overflow: hidden;

}


@media only screen and (max-width: 1600px) {
  .middle-section {
    width: 1280px;
  }
}

@media only screen and (max-width: 1500px) {
  .middle-section {
    width: 1180px;
  }
}

@media only screen and (max-width: 1400px) {
  .middle-section {
    width: 1080px;
  }
}

@media only screen and (max-width: 1200px) {
  .middle-section {
    width: 980px;
  }
}

@media only screen and (max-width: 768px) {
  .middle-section {
    flex-direction: column;
    width: 100%;
  }

  .widget-left,
  .widget-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .widget-right {
    margin-bottom: 0;
  }
}
