
.table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 15px;
}


.styled-table {
  width: 100%;
  border-collapse: collapse;
}


.styled-table th,
.styled-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #dee2e6;
}

.styled-table th {
  background-color: #023E8A;
  color: white;
  font-weight: bold;
}


.styled-table tr:hover {
  background-color: #ffffff;
}


.styled-table td {
  font-size: 18px;
  color: #0a0a0a;
}

.styled-table td:last-child {
  display: flex;
  justify-content: space-around;
}

.styled-table thead {
  position: sticky;
  top: 0;
  background-color: #023E8A;
  z-index: 1;
}


.table-container {
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .styled-table {
    font-size: 14px;
  }

  .styled-table th,
  .styled-table td {
    padding: 8px;
  }

  .book-list-header {
    font-size: 20px;
  }
}
