.manage-books-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.form-section {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section h2, .table-section h3 {
  color: #0f7cf2;
  text-align: center;
  margin-bottom: 20px;
}

.form-section label, .table-section th {
  color: #007bff;
  font-weight: bold;
}

.form-section input, .form-section select, .table-section table {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #007bff;
  border-radius: 5px;
}

.Add {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.Add:hover {
  background-color: #0056b3;
}


.table-container {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 15px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}


.styled-table th,
.styled-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #dee2e6;
}

.styled-table th {
  background-color: #023E8A;
  color: white;
  font-weight: bold;
}


.styled-table tr:hover {
  background-color: #ffffff;
}


.styled-table td {
  font-size: 18px;
  color: #0a0a0a;
}

.styled-table td:last-child {
  display: flex;
  justify-content: space-around;
}

.styled-table thead {
  position: sticky;
  top: 0;
  background-color: #023E8A;
  z-index: 1;
}


.table-container {
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .styled-table {
    font-size: 14px;
  }

  .styled-table th,
  .styled-table td {
    padding: 8px;
  }

  .book-list-header {
    font-size: 20px;
  }
}
