<div class="table-section col-12">
  <h3 class="book-list-header" style="text-align: center;"><b><u><i class="bi bi-book">Book List</i></u></b></h3>
  <div class="table-container">
    <table class="styled-table">
      <thead class="thhead">
        <tr>
          <th>Count</th>
          <th>Book ID</th>
          <th>Book Name</th>
          <th>Author</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let book of bookList; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{book.id}}</td>
          <td>{{ book.bookName }}</td>
          <td>{{ book.authorName }}</td>
          <td>
            <span *ngIf="book.qty > 0">{{ book.qty }}</span>
            <span *ngIf="book.qty === 0" style="color: red; font: 1em sans-serif;"><b>Out of Stock</b></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
